body {
    font-family: "Raleway", sans-serif;
}

.fire-emoji {
    font-size: 64px;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.header-title {
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    color: #fe3c72;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.header-description {
    font-family: "Raleway", sans-serif;
    color: #df4723;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.number {
    display: block;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 120px;
    text-shadow: 1px 1px 1px salmon, 3px 3px 1px salmon;
}


.menu {
    font-family: "Raleway", sans-serif;
    height: 112px;
    width: 80%;
    display: flex;
    margin-top: 300px;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    color: #fe3c72;
}

.Select-control {
    font-family: "Raleway", sans-serif;
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    font-family: "Raleway", sans-serif;
    line-height: 48px;
}

.Select--multi .Select-value-label {
    font-family: "Raleway", sans-serif;
    line-height: 32px;
}

.menu-title {
    font-family: "Raleway", sans-serif;
    margin-bottom: 6px;
    font-weight: bold;
    color: #df4723;
}


.subnumber {
    font-family: "Raleway", sans-serif;
    height: 112px;
    width: 340px;
    display: flex;
    padding-top: 20px;
    margin: -40px auto 0 auto;
}

.row {
    font-family: "Raleway", sans-serif;
    height: 112px;
    padding-left: 100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: -40px auto 0 auto;
}
